<div class="media nm-module-item">

  <div class="media-object nm-module-thumbnail pull-left" alt="...">
    <i class="fa fa-suitcase fa-2x"></i>
  </div>  
  <div class="pull-right">
    <a class="ivle btn btn-default btn-xs"
       data-code="{{ModuleCode}}"
       href="{{IVLELink}}"
       target="_blank">
      <i class="fa fa-info-circle"></i>&nbsp;IVLE
    </a>
    <button class="add btn btn-primary btn-xs"
            data-code="{{ModuleCode}}"
            type="button">
      <i class="fa fa-plus-circle"></i>&nbsp;Add
    </button>
  </div>
  <div class="media-body">
    <h5 class="media-heading">
      <a href="/modules/{{ModuleCode}}" class="nm-module-code">{{ModuleCode}} {{ModuleTitle}}</a> &middot; <span style="color: #999">{{ModuleCredit}} Credits</span>
    </h5>
    <p>{{ModuleDescription}}</p>
    {{#if Prerequisite}}
      <div><strong>Prerequisites:</strong>&nbsp;{{{parsedPrerequisite}}}</div>
    {{/if}}
    {{#if Preclusion}}
      <div><strong>Preclusions:</strong>&nbsp;{{{parsedPreclusion}}}</div>
    {{/if}}
    {{#if Workload}}
      <div><strong>Workload:</strong>&nbsp;{{Workload}}</div>
    {{/if}}
    <div><strong>Exam:</strong>&nbsp;
      {{#if examStr}}
        {{examStr}}
      {{else}}
        No Exam
      {{/if}}
    </div>
    <div><strong>Department:</strong>&nbsp;{{Department}}</div>
  </div>
</div>
<!-- <td class="code"><a href="/modules/{{ModuleCode}}">{{ModuleCode}}</a></td>
<td class="details">
  <div class="pull-right">
    <a class="ivle btn btn-default btn-xs"
       data-code="{{ModuleCode}}"
       href="{{IVLELink}}"
       target="_blank">
      <i class="fa fa-info-circle"></i>&nbsp;IVLE
    </a>
    <button class="add btn btn-primary btn-xs"
            data-code="{{ModuleCode}}"
            type="button">
      <i class="fa fa-plus-circle"></i>&nbsp;Add
    </button>
  </div>
  <strong>{{ModuleTitle}}</strong>
  <div class="desc">{{ModuleDescription}}</div>
  {{#if Prerequisite}}
    <div><strong>Prerequisites:</strong>&nbsp;{{{parsedPrerequisite}}}</div>
  {{/if}}
  {{#if Preclusion}}
    <div><strong>Preclusions:</strong>&nbsp;{{{parsedPreclusion}}}</div>
  {{/if}}
  {{#if Workload}}
    <div><strong>Workload:</strong>&nbsp;{{Workload}}</div>
  {{/if}}
</td>
<td class="mc">{{ModuleCredit}}</td>
<td class="exam">
{{#if examStr}}
  {{examStr}}
{{else}}
  No Exam
{{/if}}
</td>
<td class="department">{{Department}}</td> -->
